@model DoAn1.App_Data.HoaDon

@{
    ViewBag.Title = "Xoá Hoá đơn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-5">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "HoaDon")"><i class="fas fa-home"></i></a>
                <span>/</span>
                <a href="@Url.Action("Index", "HoaDon")">Quản lý Hoá đơn</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>
        </div>
    </div>
    <!-- Heading -->

    <div class="col-md-8 offset-2">
        <div class="border border-light p-5">

            <p class="h4 mb-4 text-center">@ViewBag.Title</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <label for="TinhTrang">Tình trạng:</label>
            @Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @id = "TinhTrang", @name = "TinhTrang", @class = "form-control mb-4", @disabled = true } })

            <label for="idKhachHang">Khách hàng:</label>
            @Html.EditorFor(model => model.idKhachHang, new { @id = "idKhachHang", @name = "idKhachHang", @class = "form-control mb-4", @disabled = true })

            <label for="SDTGiaoHang">Số điện thoại:</label>
            @Html.EditorFor(model => model.SDTGiaoHang, new { htmlAttributes = new { @id = "SDTGiaoHang", @name = "SDTGiaoHang", @class = "form-control mb-4", @disabled = true } })

            <label for="DiaChiGiaoHang">Địa chỉ giao hàng:</label>
            @Html.EditorFor(model => model.DiaChiGiaoHang, new { htmlAttributes = new { @id = "DiaChiGiaoHang", @name = "DiaChiGiaoHang", @class = "form-control mb-4", @disabled = true } })

            <label for="NgayLapHD">Ngày lập đơn hàng:</label>
            @Html.EditorFor(model => model.NgayLapHD, new { htmlAttributes = new { @id = "NgayLapHD", @name = "NgayLapHD", @class = "form-control mb-4", @disabled = true } })

            <label for="NgayHenGiaoHang">Ngày hẹn giao hàng:</label>
            @Html.EditorFor(model => model.NgayHenGiaoHang, new { htmlAttributes = new { @id = "NgayHenGiaoHang", @name = "NgayHenGiaoHang", @class = "form-control mb-4", @disabled = true } })

            <label for="GhiChu">Ghi chú:</label>
            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @id = "GhiChu", @name = "GhiChu", @class = "form-control mb-4", @disabled = true } })

            <table class="table table-hover">
                <!-- Table head -->
                <thead class="blue-grey lighten-4">
                    <tr>
                        <th>Tên sách</th>
                        <th>Giá</th>
                        <th>Hình ảnh</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <!-- Table head -->
                <!-- Table body -->
                <tbody>
                    @foreach (var book in ViewBag.ListBook)
                    {
                    <tr>
                        <td>@book.TenSach</td>
                        <td>@book.GiaSach</td>
                        <td><img src="~/UploadedFiles/@book.HinhSach" max-width="90"></td>
                        <td>@book.SoLuong</td>
                    </tr>
                    }
                    <!-- Table body -->
                    <tr>
                        <td colspan="4" style="text-align:right">Tổng Giá: @ViewBag.TongGia VND</td>
                    </tr>
            </table>

            <div class="text-center">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                <h3>Bạn có chắc chắn muốn hoá đơn này? (Dữ liệu không thể khôi phục)</h3>
                <button class="btn btn-danger" type="submit" value="Delete" id="btn-delete">Xác nhận</button>
                <a class="btn btn-success" href="@Url.Action("Index", "HoaDon")" id="btn-cancel">Huỷ</a>
                }
            </div>
        </div>
    </div>
</div>