@model DoAn1.App_Data.HoaDon

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .table2 {
            float: left;
            padding-left:200px;
            margin-left:850px;
            border-collapse: collapse;
        }
        td, th {
            text-align: Center;
            padding: 15px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .image1 {
            height: 100px;
            width: 150px;
        }
    </style>
    <link href="~/Content/BookEditStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <ul>
        <li><a href="#home">Logo</a></li>
        <li class="Login"><a href="#contact"><i class="material-icons">face</i>ADMIN1</a></li>
        <h5> Login in as: </a></h5>
    </ul>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <table align="center">
            <tr>
                <th>Tình trạng:</th>
                <td>
                    <div class="form-group">
                        <div>
                            @Html.TextBoxFor(model => model.TinhTrang, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Khách hàng:</th>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.idKhachHang, new { disabled = "disabled" })

                            @Html.ValidationMessageFor(model => model.idKhachHang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Số điện thoại:</th>
                <td>
                    <div class="form-group">

                        <div>
                            @Html.TextBoxFor(model => model.SDTGiaoHang, new { disabled = "disabled" })

                            @Html.ValidationMessageFor(model => model.SDTGiaoHang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Địa chỉ giao hàng:</th>
                <td>
                    <div class="form-group">

                        <div>
                            @Html.TextBoxFor(model => model.DiaChiGiaoHang, new { disabled = "disabled" })

                            @Html.ValidationMessageFor(model => model.DiaChiGiaoHang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Ngày lập đơn hàng:</th>
                <td>
                    <div class="form-group">
                        <div>
                            @Html.TextBoxFor(model => model.NgayLapHD, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.NgayLapHD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Ngày hẹn giao hàng:</th>
                <td>
                    <div class="form-group">
                        <div>
                            @Html.TextBoxFor(model => model.NgayHenGiaoHang, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.NgayHenGiaoHang, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Ghi chú:</th>
                <td>
                    <div class="form-group">
                        <div>
                            @Html.TextBoxFor(model => model.GhiChu, new { disabled = "disabled" })

                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table class="table2">
            <caption class="caption1"><b>Chi Tiết Hoá đơn</b></caption>
            <tr>
                <th>Tên Sách</th>
                <th>Giá</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
            </tr>
            @foreach (var book in ViewBag.ListBook)
            {
                <tr>
                    <td>@book.TenSach</td>
                    <td>@book.GiaSach</td>
                    <td><img src="~/UploadedFiles/@book.HinhSach" class="image1"></td>
                    <td>@book.SoLuong</td>
                </tr>
            }
            <tr>
                <td colspan="6" style="text-align:right">Tổng Giá:@ViewBag.TongGia vnd </td>

            </tr>
        </table>
        <div style="text-align:center"><button type="submit" value="Edit" id="create-btn">Đổi trạng thái</button></div>
        <div style="text-align:center"> <a href="~/HoaDon">Trở về</a></div>
    </form>

    <div class="warning-text">@ViewBag.Messenge</div>
</body>
</html>
