@model PagedList.IPagedList<DoAn1.App_Data.HoaDon>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý Hoá đơn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-5">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "HoaDon")"><i class="fas fa-home"></i></a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>

            <form class="d-flex justify-content-center" action="~/HoaDon/Index" method="get" id="search-form">
                <!-- Default input -->
                @Html.TextBox("SearchString", null, new { @class = "Search form-control", @value = ViewBag.Search })
                <button class="btn btn-primary btn-sm my-0 p" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Heading -->

    <div class="warning-text mb-4">@ViewBag.Messenge</div>

    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">

                    <!-- Table  -->
                    <table class="table table-hover">
                        <!-- Table head -->
                        <thead class="blue-grey lighten-4">
                            <tr>
                                <th>#</th>
                                <th>Khách hàng</th>
                                <th>Đia chỉ giao hàng</th>
                                <th>Tổng tiền</th>
                                <th>Số điện thoại</th>
                                <th>Tình trạng</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <!-- Table head -->
                        <!-- Table body -->
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].idKhachHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].DiaChiGiaoHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].TongTien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].SDTGiaoHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[i].TinhTrang)
                                </td>
                                <td>
                                    @Html.ActionLink("Đổi trạng thái", "ChangeStatus", new { id = Model[i].id }) |
                                    @Html.ActionLink("Chi tiết", "Edit", new { id = Model[i].id }) |
                                    @Html.ActionLink("Xoá", "Delete", new { id = Model[i].id })
                                </td>
                            </tr>
                            }
                        </tbody>
                        <!-- Table body -->
                    </table>
                    <!-- Table  -->

                    <div class="paged-table">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { SearchString = ViewBag.Search, page }))
                    </div>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>