
@{
    ViewBag.Title = "XacNhanThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/mycart.css" rel="stylesheet" />
    <link href="~/Content/register.css" rel="stylesheet" />
    <script src="https://www.paypal.com/sdk/js?client-id=AcAFwaVSmK7cLQTMpv6qF3uL0MW7IDfYstW5eAl0LrMrV-FacSSIlYYh6BHYCh55FyAJiBYGFbARiVdK"></script>
</head>
<body>
    <div class="container">
        <div class="text-center" style="margin: 40px"><h1>Thông tin đơn hàng</h1></div>
        <div style="margin-bottom: 40px">
            <div class="row justify-content-center">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4><b>Tên khách hàng: </b>@ViewBag.TenKH</h4>
                </div>
                <div class="col-md-5">
                    <h4><b>Số điện thoại: </b>@ViewBag.Info.SDT</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4><b>Ghi chú: </b>@ViewBag.Info.GhiChu</h4>
                </div>
                <div class="col-md-5">
                    <h4><b>Ngày nhận hàng: </b>@ViewBag.Info.NgayGiaoHang</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h4><b>Địa chỉ giao hàng: </b>@ViewBag.Info.DiaChi</h4>
                </div>
            </div>
        </div>


        <table class="table table-bordered mycart">
            <thead>
                <tr>
                    <th style="width: 40%;">Hình ảnh</th>
                    <th style="width: 30%;">Tên sách</th>
                    <th style="width: 10%;">Số lượng</th>
                    <th style="width: 20%;">Giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in ViewBag.ListBook)
                {
                    <tr onclick="z.value=parseInt(x.value)*parseInt(y.value)">
                        <td><img src="~/UploadedFiles/@book.HinhSach" alt="" width="75" height="115" style="vertical-align: middle;"></td>
                        <td style="vertical-align: middle;">@book.TenSach</td>
                        <td style="vertical-align: middle;">@book.SoLuong</td>
                        <td style="vertical-align: middle;">
                            <output id="x" style="padding-top:0px;">@book.GiaSach đ</output>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"><h3>Tổng: @ViewBag.TongGia đ</h3></th>
                </tr>
            </tfoot>
        </table>

        @using (Html.BeginForm())
        {
            <input id="SDTGiaoHang" name="SDTGiaoHang" type="hidden" value="@ViewBag.Info.SDT" />
            <input id="GhiChu" name="GhiChu" type="hidden" value="@ViewBag.Info.GhiChu" />
            <input id="NgayHenGiaoHang" name="NgayHenGiaoHang" type="hidden" value="@ViewBag.Info.NgayGiaoHang" />
            <input id="DiaChiGiaoHang" name="DiaChiGiaoHang" type="hidden" value="@ViewBag.Info.DiaChi" />
            <button class="register-btn" type="submit" style="width: 300px">Thanh toán khi giao hàng</button>
        }
        <br />
        <hr />
        <div class="text-center" style="color:GrayText; font-size:larger; font-weight:100; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 40px">Hoặc</div>

        <div id="paypal-button-container" class="text-center"></div>

        <script>
            let price = @ViewBag.TongGia * 0.000043;
            paypal.Buttons({
                createOrder: function (data, actions) {
                    // This function sets up the details of the transaction, including the amount and line item details.
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: price,
                                currency_code: 'USD'
                            }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function (details) {
                        $('#btnConfirm').click();
                    });
                }
            }).render('#paypal-button-container');
        </script>

    </div>
</body>