@model DoAn1.App_Data.KhachHang
@{
    ViewBag.Title = "Sửa Khách hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-5">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "User")"><i class="fas fa-home"></i></a>
                <span>/</span>
                <a href="@Url.Action("Index", "User")">Quản lý Khách hàng</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>
        </div>
    </div>
    <!-- Heading -->

    <div class="col-md-8 offset-2">
        <form class="border border-light p-5" method="post" enctype="multipart/form-data">

            <p class="h4 mb-4 text-center">@ViewBag.Title</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label for="TaiKhoan">Tài khoản:</label>
            @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @id = "TaiKhoan", @name = "TaiKhoan", @class = "form-control mb-4", @disabled = true } })

            <label for="MatKhau">Mật khẩu:</label>
            @Html.PasswordFor(model => model.MatKhau, new { @id = "MatKhau", @name = "MatKhau", @class = "form-control mb-4" })
            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })

            <label for="TenKH">Tên khách hàng:</label>
            @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @id = "TenKH", @name = "TenKH", @class = "form-control mb-4" } })
            @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })

            <label for="SDT">Số điện thoại:</label>
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @id = "SDT", @name = "SDT", @class = "form-control mb-4" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })

            <label for="GioiTinh">Giới tính:</label>
            @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @id = "GioiTinh", @name = "GioiTinh", @class = "form-control mb-4" } })
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })

            <label for="NgaySinh">Ngày sinh:</label>
            <input type="date" id="NgaySinh" name="NgaySinh" class="form-control mb-4" placeholder="Ngày sinh" value="@Model.NgaySinh">
            @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })

            <button class="btn btn-info btn-block" type="submit" value="Edit" id="create-btn">Xác nhận</button>

            <div class="warning-text">@ViewBag.Messenge</div>
        </form>
    </div>
</div>