
@model PagedList.IPagedList<DoAn1.App_Data.Banner>
@using PagedList.Mvc;

<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/BookListStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <ul>
        <li><a href="#home">Logo</a></li>
        <li class="Login"><a href="#contact"><i class="material-icons">face</i>ADMIN1</a></li>
        <h5> Login in as: </h5>
    </ul>
</head>
<body>
    <div>
        <div class="vertical-menu">
            <a href="~/Book">Quản lý sách</a>
            <a href="~/User">Quản lý khách hàng</a>
            <a href="~/HoaDon">Quản lý đơn hàng</a>
            <a href="~/Banner">Quản lý quảng cáo</a>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div>
        <form action="~/Banner/Index" method="get" id="search-form">
            <p>
                @Html.TextBox("SearchString", null, new { @class = "Search" })<button type="submit"><i class="material-icons">search</i></button>
            </p>
        </form>
        <div class="warning-text">@ViewBag.Messenge</div>
        <table id="t01" style="width:75%">
            <tr>
                <th>
                    Mã banner
                </th>
                <th>
                    Hiển thị
                </th>
                <th>
                    Hình ảnh
                </th>
                <th>
                    Chức năng
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isHienThi)
                    </td>
                    <td>
                        <img src="~/UploadedFiles/@item.LinkAnh" width="90" height="130" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
        <br />

    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="paged-table">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))
    </div>
    <div class="footer">
        <p>Sư Vạn Hạnh,Quận 10,Sài Gòn</p>
        <p>cuahangsach@gmail.com</p>
        <p>0123456789</p>
    </div>
</body>
</html>
