@model ReBook.App_Data.Sach
@{
    ViewBag.Title = "Thêm Sách";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-5">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "Book")"><i class="fas fa-home"></i></a>
                <span>/</span>
                <a href="@Url.Action("Index", "Book")">Quản lý Sách</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>
        </div>
    </div>
    <!-- Heading -->

    <div class="col-md-8 offset-2">
        <form class="border border-light p-5" method="post" enctype="multipart/form-data">

            <p class="h4 mb-4 text-center">@ViewBag.Title</p>

            <label for="TenSach">Tên Sách:</label>
            <input type="text" id="TenSach" name="TenSach" class="form-control mb-4" placeholder="Tên Sách">

            <label for="ChuDe">Thể loại:</label>
            <select class="browser-default custom-select mb-4" id="ChuDe" name="ChuDe">
                <option value="Truyện trinh thám">Truyện trinh thám</option>
                <option value="Truyện ngôn tình">Truyện ngôn tình</option>
                <option value="Sách song ngữ">Sách song ngữ</option>
                <option value="Sách khoa học">Sách khoa học</option>
                <option value="Truyện khoa học viễn tưởng">Truyện khoa học viễn tưởng</option>
                <option value="Sách dạy nấu ăn">Sách dạy nấu ăn</option>
                <option value="Truyện thiếu nhi">Truyện thiếu nhi</option>
                <option value="Văn học nước ngoài">Văn học nước ngoài</option>
                <option value="Sách giáo khoa">Sách giáo khoa</option>
                <option value="Tập tô màu">Tập tô màu</option>
            </select>

            <label for="GiaSach">Giá (vnđ):</label>
            <input type="number" id="GiaSach" name="GiaSach" class="form-control mb-4" placeholder="Giá Sách">

            <label for="SoTrang">Số trang:</label>
            <input type="number" id="SoTrang" name="SoTrang" class="form-control mb-4" placeholder="Số trang">

            <label for="MoTa">Mô tả:</label>
            <input type="text" id="MoTa" name="MoTa" class="form-control mb-4" placeholder="Mô tả">

            <label for="TenTacGia">Tác giả:</label>
            <input type="text" id="TenTacGia" name="TenTacGia" class="form-control mb-4" placeholder="Tên Tác giả">

            <label for="file">Hình ảnh:</label>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="file">
                    <label class="custom-file-label" for="file">Chọn hình ảnh</label>
                </div>
            </div>

            <button class="btn btn-info btn-block" type="submit" value="Create" id="create-btn">Thêm sách</button>

            <div class="warning-text">@ViewBag.Messenge</div>
        </form>
    </div>
</div>