@model ReBook.App_Data.Sach

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Sach</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenSach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HinhSach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhSach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaSach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaSach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenTacGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenTacGia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoTrang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoTrang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuongXem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuongXem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MoTa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MoTa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isDeleted)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>